# Modules
/node_modules/
/typings/

# Unnecessary built files
/build-scripts/
*.tgz

# Source files
*.ts
!*.d.ts
lib.d.ts
ts*.json

# Test files
/test/
/dist/pretest*
*.spec.*
user-config.json
gulpfile.js

# Coverage reports
/dist/html-report/
/dist/coverage*
