# Modules
.npmignore
typings/

# Unnecessary built files
build-scripts/

# Source files
src/
ts*.json

# Test files
test/
dist/pretest*
*.spec.*
gulpfile.js

# Coverage reports
dist/html-report/
dist/coverage*

# User files
user-config.json
